[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinydrive"]
	path = shinydrive
	url = https://github.com/cran/shinydrive
[submodule "shinypivottabler"]
	path = shinypivottabler
	url = https://github.com/cran/shinypivottabler
